{$CORTEX_DOMAIN:cortex.oni.bot} {
    handle /api/* {
        reverse_proxy gateway:8080 {
            transport http {
                read_timeout 0
            }
        }
    }

    handle /t/* {
        reverse_proxy gateway:8080 {
            transport http {
                read_timeout 0
            }
        }
    }

    handle /caddy-health {
        respond "OK" 200
    }

    handle {
        reverse_proxy host.docker.internal:3100
    }

    log {
        output stdout
    }
}

oni.bot {
    reverse_proxy host.docker.internal:3100
    log {
        output stdout
    }
}
